#home {
    background-image:url("../images/bg_header.jpg");
    background-size: cover;
    background-position: center;
    padding-bottom: 20%; 
    background-repeat: no-repeat;
    text-align: center;
}
 h1{
   color:white !important;
   text-align: center;
   padding-top: 10vh;
   font-family: 'Rokkitt', serif !important; 
 }

 span {
    font-weight: bold;
    font-size: 150%;
   
  }

  body{
    color:white !important;
    font-family: 'Roboto', sans-serif;
  }

  
  .container{
    color:black!important;
  }
  #nuage{
    background-image:url("../images/bg_nuage.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  #blue{
      background-color:#d2c7ff48;
      max-height:auto;
      width:150px;
      padding-bottom: 2%;
  }

#ulticies{
    border : solid 1px white;
}

#fermentum{
    border : solid 1px white;
}

h2{
    color:black!important;
}

#velo{
    background-image:url("../images/1200.jpeg");
    background-size: cover;
}
 .fondGris{
     background-color: lightgrey;
 }

#photo{
    background-image:url("../images/bg_appareil_photo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#blue2{
    background-color:#d2c7ff48;
    max-height:auto;
    width:150px;
    padding-bottom: 2%;
}


.HGauche {
    background-image: url("../images/300.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10%;
    height: 100px;
}
.Hdroite {
    background-image: url("../images/776.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10%;
    height: 431px;
}
.MGauche {
    background-image: url("../images/800.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10%;
    height: 483px;
}
.MdroiteH {
    background-image: url("../images/400.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10%;
    height: 300px;
}
.MdroiteB {
    background-image: url("../images/2476.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10%;
    height: 200px;
}
.Bgauche {
    background-image: url("../images/140.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10%;

}
.Bdroite {
    background-image: url("../images/439.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10%;
    height: 150px;
}

.flou{
    /* background-image:url("../images/bg_newsletter.jpg"); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    -webkit-filter: blur(5px) grayscale(70%);
    position: absolute;
    z-index: 1;
    
     
}

.texte{
    position:relative;
    z-index: 999;
    color: white;
    margin-left: 5%;
   
}

.ok {
    z-index: 1;
    overflow: hidden;
    position: relative;
}

#input{
    z-index: 999;
    position:relative;
    width:30%;
    margin-left: 5%;
}
 
.btn{
    z-index: 999;
    position:relative;
    margin-left: 5%;
}

.logo{
    background-color: #1c232d;
    
}

